---
import Card from "../../components/card/Card.astro";
import Tabs from "../../components/tabs/Tabs.astro";
import Layout from "../../layouts/Layout.astro";
import { getVideosFromPlaylist } from "../../services/youtube";

const episodes = await getVideosFromPlaylist("episodes", 20);
---

<Layout title="Pink Sofa Hour | Full Episodes">
  <main>
    <h1>Full Episodes</h1>

    <Tabs />

    <div class="grid">
      {
        episodes.map((v: any) => (
          <Card>
            <iframe
              width="560"
              height="315"
              src={`https://www.youtube.com/embed/${v.id}`}
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            />
          </Card>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    grid-gap: 48px;
    margin: 0 24px;
  }
</style>
