---
import Card from "../card/Card.astro";
---

<Card>
  <a href="/gallery/episodes">
    <p>Episodes</p>
  </a>
  <div>/</div>
  <a href="/gallery/performances">
    <p>Performances</p>
  </a>
</Card>
