* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-size: var(--font-size-sm);
  font-family: NeutraText-Book;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
p,
a,
label {
  margin: 0;
  color: var(--white);
}

p {
  line-height: 1.2;
}

button {
  cursor: pointer;
}
