---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/card/Card.astro";
import styles from "./contact.module.scss";
---

<Layout title="PSH | Contact" heading="Contact" class={styles.main}>
  <Card class={styles.card}>
    <form method="POST">
      <div>
        <label for="name-input">Name:</label>
        <input type="text" id="name-input" name="name" required />
      </div>

      <div>
        <label for="previous-interviews-input">Any Previous Interviews:</label>
        <textarea id="previous-interviews-input" name="previous-interviews">
        </textarea>
      </div>

      <div>
        <label for="additional-links-input">Additional Links:</label>
        <textarea id="additional-links-input" name="additional-links">
        </textarea>
      </div>

      <div>
        <label for="how-did-you-hear-input">How did you hear about PSH?</label>
        <textarea id="how-did-you-hear-input" name="how-did-you-hear">
        </textarea>
      </div>

      <div>
        <label for="favorite-thing-input">
          Favorite thing about the local music scene?
        </label>
        <textarea id="favorite-thing-input" name="favorite-thing"></textarea>
      </div>

      <button>Send</button>
    </form>
  </Card>
</Layout>
