---
import Card from "../../components/card/Card.astro";
import Layout from "../../layouts/Layout.astro";
import styles from "./contact.module.scss";
import { sendEmail } from "../../services/brevoService";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const name = String(formData.get("name"));
  const previousInterviews = String(formData.get("previous-interviews"));
  const additionalLinks = String(formData.get("additional-links"));
  const howDidYourHear = String(formData.get("how-did-you-hear"));
  const favoriteThing = String(formData.get("favorite-thing"));

  sendEmail({
    name,
    previousInterviews,
    additionalLinks,
    howDidYourHear,
    favoriteThing,
  });
}
---

<Layout title="Pink Sofa Hour | Performances">
  <main class={styles.container}>
    <Card class={styles.card}>
      <h2>Interview Inquiry</h2>
      <form method="POST">
        <label for="name-input">Name:</label>
        <input type="text" id="name-input" name="name" required />

        <label for="previous-interviews-input">Any Previous Interviews:</label>
        <textarea id="previous-interviews-input" name="previous-interviews">
        </textarea>

        <label for="additional-links-input">Additional Links:</label>
        <textarea id="additional-links-input" name="additional-links">
        </textarea>

        <label for="how-did-you-hear-input">How did you hear about PSH?</label>
        <textarea id="how-did-you-hear-input" name="how-did-you-hear">
        </textarea>

        <label for="favorite-thing-input">
          Favorite thing about the local music scene?
        </label>
        <textarea id="favorite-thing-input" name="favorite-thing"></textarea>

        <button>Send</button>
      </form>
    </Card>
  </main>
</Layout>
