$border-height: 2px;

.header {
  height: 64px;
  padding: var(--thin) var(--thick) calc(var(--thin) - $border-height)
    var(--thick); // subtract border height from padding
  border-bottom: $border-height solid var(--white);

  background-image: url("../../../assets/headerBackground.png");
  background-position: center;
  background-size: cover;
}

.widthContainer {
  height: 100%;
  max-width: var(--content-max-width);
  margin: auto;

  display: flex;
  align-items: center;
  gap: var(--thick);

  // logo
  & > :first-child {
    img {
      height: 100%;
      width: auto;
    }
  }

  // logo and hamburger
  & > :first-child, & > :nth-child(2) {
    height: 100%;
  }

  // hamburger
  & > :nth-child(2) {
    margin-left: auto;
    // needs z index for menu to float above youtube video
    z-index: 1;
  }

  // desktop icons
  & > :not(:first-child):not(:nth-child(2)) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .widthContainer {
    // hamburger
    :nth-child(2) {
      display: none;
    }

    // desktop icons
    :not(:first-child):not(:nth-child(2)) {
      display: flex;
      align-items: center;
      height: 100%;

      // underline text anchors on hover
      &:not(:hover) {
        text-decoration: none;
      }
    
      // youtube icon
      &:nth-child(5) {
        margin-left: auto;
      }

      // smaller height for social icons
      img {
        height: 60%;
        width: auto;
      }
    }
  }
}