---
import styles from "./card.module.scss";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class={`${styles.card} ${className}`}>
  <slot />
</section>
