.card {
  width: 100%;
  padding: var(--thin) var(--thick);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* max-width: calc(
      560px - (2 * var(--thick))
    );  */
/* based on video width - (2 * padding) */
