.card {
  width: 100%;
  padding: 24px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);

  // max-height: 700px;
  overflow-y: scroll;
}
/* max-width: calc(
      560px - (2 * 24px)
    );  */
/* based on video width - (2 * padding) */
