---
import Card from "../components/card/Card.astro";
import Layout from "../layouts/Layout.astro";
import styles from "./contact.module.scss";
---

<Layout title="Pink Sofa Hour | Performances">
  <main class={styles.container}>
    <Card>
      <h2>Contact Us</h2>

      <form action="http://localhost:3000/api/contactEmail" method="post">
        <label for="name-input">Name:</label>
        <input type="text" id="name-input" name="name" />

        <label for="previous-interviews-input">Previous Interviews:</label>
        <textarea id="previous-interviews-input" name="previous-interviews"
        ></textarea>

        <label for="additional-links-input">Additional Links:</label>
        <textarea id="additional-links-input" name="additional-links"
        ></textarea>

        <label for="how-did-you-hear-input">How did you hear about PSH?</label>
        <textarea id="how-did-you-hear-input" name="how-did-you-hear"
        ></textarea>

        <label for="favorite-thing-input"
          >Favorite thing about your local music scene?</label
        >
        <textarea id="favorite-thing-input" name="favorite-thing"></textarea>

        <button id="send-email">Send Email</button>
      </form>
    </Card>
  </main>
</Layout>

<script>
  document.querySelector("#send-email")?.addEventListener("click", async () => {
    try {
      const response = await fetch("http://localhost:3000/api/contactEmail", {
        method: "POST",
        body: JSON.stringify({
          to: "recipient@example.com",
          subject: "Hello",
          text: "Hello world!",
        }),
        headers: { "Content-Type": "application/json" },
      });

      if (!response.ok) {
        throw new Error("Error sending email");
      }

      const result = await response.json();
      console.log(result);

      alert(result.message);
    } catch (error) {
      console.error(error);
      alert("Failed to send email");
    }
  });
</script>
