.main {
  background-color: rgb(65, 65, 65);
  overflow-y: scroll;
  height: 100%;
  padding: 20px;

  h1 {
    display: block;
    margin: auto;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    margin: auto;

    li {
      display: flex;
      gap: 12px;

      > * {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      // left column
      > :first-child {
        align-items: center;
      }

      h2 {
        font-size: 30px;
      }
    }
  }

  a {
    color: var(--white);
    margin-left: auto;
  }
}

.circleText {
  font-size: 40px;
}

// .eventsList {
//   margin: 24px;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   gap: 24px;
// }

// .eventsList {
//   // border: 2px solid black;

//   li {
//     display: flex;
//     border-top: 1px solid white;
//     border-bottom: 1px solid white;
//     gap: 16px;
//     padding: 16px;

//     .dateContainer {
//       display: flex;
//       flex-direction: column;
//       text-align: center;
//       gap: 8px;

//       :first-child {
//         font-size: 24px;
//       }

//       :nth-child(2) {
//         font-size: 11px;
//       }

//       :last-child {
//         height: 36px;
//         width: 36px;
//         border-radius: 100%;
//         background-color: pink;
//       }
//     }

//     .detailsContainer {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       gap: 8px;
//       // margin: 16px;
//     }
//   }
// }
