.main {
  > * {
    max-width: 600px;
  }

  h1 {
    position: relative;
    display: block;
    margin: auto;

    text-align: center;
    font-size: 40px;
    color: #d023a4;
    text-shadow: 2px 2px 2px #fffbcc;
    // text-shadow: 2px 2px 4px #fffbcc, 4px 4px 2px #022366; /* experimenting with double shadows for readibility */
  }

  h2 {
    font-size: 30px;
  }

  a {
    color: var(--white);
    margin-left: auto;
  }
}

.card {
  display: flex;
  gap: var(--thick);

  // both columns
  & > * {
    display: flex;
    flex-direction: column;
    gap: var(--thin);
  }

  // left column
  & > :first-child {
    align-items: center;
  }

  // right column
  & > :last-child {
    flex: 1;
  }
}

.circleText {
  font-size: 40px;
}
