---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card/Card.astro";
import styles from "./index.module.scss";
---

<Layout title="Pink Sofa Hour" heading="Pink Sofa Hour">
  <div class={styles.introVideo}>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/O50RrxSSbqw"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <Card class={styles.bio}>
    <p>
      Pink Sofa Hour is a live-streamed YouTube show run by Pedro with the
      intention of connecting artists and audiences.
    </p>
    <p>
      Here's a great article that
      <a href="https://www.google.com">Westword</a>
       did about the show!
    </p>
    <p>
      Check out our upcoming events
      <a href="events">here!</a>
    </p>
  </Card>
</Layout>
