.introVideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: min(56.25%, 400px); /* used as height, 16:9 aspect ratio */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  gap: var(--thin);
}
