---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pink Sofa Hour">
	<main>
		<section>
			<h1>Welcome to the Pink Sofa Hour</h1>
		</section>

		<div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/O50RrxSSbqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		
		<section>
			<p>A live streamed interview show for local musicians based in Boulder, Colorado.</p>
			<p>Hosted by Pedro</p>
		</section>

		<section>
			<h2>Latest Episodes</h2>
		</section>
		
		<div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/O50RrxSSbqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

		<div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/O50RrxSSbqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

		<div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/O50RrxSSbqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		
		<section>
			<a href="/about">More ...</a>
		</section>
	</main>
</Layout>

<style>
	main {
		height: 100%;
		background-image: url("https://drive.google.com/uc?id=1GRZpi4Me3GN0BmOZo15E3u6IePckNBsG");
		background-size: cover;
		
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px;

		overflow-y: scroll;
	}

	main > * {
		margin: 0 auto;
	}

	/* card */
	section {
		padding: 24px;
		border-radius: 12px;
		background-color: rgba(0, 0, 0, 0.5);
		max-width: calc(560px - (2 * 24px)); /* based on video width - the 2 * padding */
		color: white;
	}

	section a {
			color: white
	}

	/* TODO move to global overwrites */
	h1, h2, p {
		margin: 0;
	}
</style>
