---
import Card from "./Card.astro";
import CircleButton from "./CircleButton.astro";
const { title, description, photoId, videoUrl } = Astro.props;
---

<Card className="card">
  <img src={`https://drive.google.com/uc?id=${photoId}`} />
  <h2>{title}</h2>
  <p>{description}</p>
  <a target="_blank" href={videoUrl}>
    <CircleButton />
    <h4>Watch on Youtube</h4>
  </a>
</Card>

<style>
  .card {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    border: #FFFBCC 10px solid;
    border-radius: 2px;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  a h4 {
    margin-left: 12px;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
  }

</style>
