<button class="circle-button">
  <span class="triangle"></span>
</button>

<style>
  .circle-button {
    background-color: red;
    border-radius: 15%;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 40px;
    outline: none;
    transition: background-color 0.3s ease;
    padding-left: 4px;
  }

  .triangle {
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    transition: transform 0.3s ease;
  }
</style>
