<header>
  <p>H</p>
  <img src="https://drive.google.com/uc?id=1sJJPcxCgPYdBScBvoBgBXmek303s1HCr" alt="pink sofa hour logo" />
</header>

<style>
  header {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 24px;

    background-color: #FFFBCC;
    border-bottom: 6px solid #002366;
  }

  header img {
    height: 64px;
  }
</style>
