---
import Card from "./Card.astro";
---

<Card className="card">
  <a href="/gallery/episodes">
    <p>Episodes</p>
  </a>
  <div>/</div>
  <a href="/gallery/performances">
    <p>Performances</p>
  </a>
</Card>

<style>
  .card {
    display: flex;
  }
</style>
