.artistCard {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    max-width: 100%;
    height: auto;
    border: #fffbcc 10px solid;
    border-radius: 2px;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: auto;

    p {
      margin-left: 12px;

      &:hover {
        text-decoration: underline;
        text-decoration-color: red;
      }
    }
  }
}
