---
import { Image } from "astro:assets";

import styles from "./header.module.scss";
import pshLogo from "../assets/pshLogo.png";
---

<header class={styles.header}>
  <div class={styles.widthContainer}>
    <div></div>
    <a href="/">
      <Image src={pshLogo} alt="pink sofa hour logo" class={styles.img} />
    </a>
    <div>
      <a href="events">Events</a>
    </div>
  </div>
</header>
