---
// import styles from "./test.module.scss";
---

<header>
  <!-- <img class="menu" src="../../menu-icon.png" alt="menu icon" /> -->
  <img
    class="logo"
    src="https://drive.google.com/uc?id=1sJJPcxCgPYdBScBvoBgBXmek303s1HCr"
    alt="pink sofa hour logo"
  />

  <div class="links">
    <a href="/" class="link">Home</a>
    <a href="/contact" class="link">Contact</a>
  </div>
</header>

<!-- <p>test</p> -->
<!-- <div class="menu-links">
    <a>Episodes</a>
    <a>Gallery</a>
    <a>Shop</a>
    <a>About</a>
  </div> -->

<!-- <div class="menu-drawer">
    <p>Close</p>
    <div>
      <a>Home</a>
      <a>Episodes</a>
      <a>Gallery</a>
      <a>Shop</a>
      <a>About</a>
      <div>Icons</div>
    </div>
  </div> -->

<style>
  header {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("https://drive.google.com/uc?id=1gar0paPJvyfRY5ysMXvYIRGQ_G2M5Qz4");
    background-size: cover;
    border-bottom: 2px solid white;
  }

  .links {
    position: absolute;
    right: 30px;
    font-size: 22px;

    display: flex;
    flex-direction: column;
  }

  @media only screen and (min-width: 600px) {
    .links {
      flex-direction: row;
      gap: 18px;
    }
  }

  .link {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .menu {
    height: 30px;
  }

  .logo {
    height: 60px;
    margin: 0 auto;
  }

  .menu-links {
    display: none;
  }

  .menu-drawer {
    display: none;
    /* display: grid; */

    position: absolute;
    top: 0;
    left: 0;

    padding: 40px;
    height: 100%;
    width: 100%;

    background-color: #fffbcc;
  }

  .menu-drawer h2 {
    color: #002366;
  }

  /* @media only screen and (min-width: 600px) {

    .menu {
      display: none;
    }

    .menu-links {
      display: flex;
      column-gap: 12px;
    }

  } */
</style>
