.main {
  > * {
    // overwrite max-width to be thinner
    max-width: 600px !important;
  }

  a {
    color: var(--white);
    margin-left: auto;
  }
}

.card {
  display: flex;
  gap: var(--thick);

  // both columns
  & > * {
    display: flex;
    flex-direction: column;
  }

  // left column
  & > :first-child {
    gap: var(--thin);
    align-items: center;
  }

  // right column
  & > :last-child {
    gap: var(--thick);
    flex: 1;

    & > :first-child,
    & > :nth-child(2),
    a {
      font-size: var(--font-size-md);
    }
  }
}

.circleText {
  font-size: var(--font-size-lg);
}

.dotDivider {
  font-size: var(--font-size-sm);
  margin: 0 var(--thin);
}
