.banner {
  width: 100%;
  padding: var(--thin);
  text-align: center;
  background-color: var(--yellow);
  font-size: 11px;

  p,
  a {
    color: black;
    font-size: 18px;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
